.block-fluid-group {
  position: relative;
}
.block-fluid-group .block-fluid {
  position: absolute;
}
.block-fluid {
  display: block;
  position: relative;
}
.vertical-align-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.horizontal-align-middle {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.block-fluid-inline {
  display: inline-block;
}
.block-fluid-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*
.block-fluid.top {
	top: 0;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
} 

.block-fluid.left {
	left: 0;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
} 
*/
.block-fluid-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.block-fluid-bottom {
  top: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.block-fluid-right {
  left: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.block-fluid-top-center {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.block-fluid-middle-left {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.block-fluid-middle-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.block-fluid-middle-right {
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.block-fluid-bottom-center {
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
.block-fluid-bottom-right {
  -webkit-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
}
body {
  background-color: #000;
}
html.swf .hidden-swf {
  display: none !important;
}
html.no-swf .hidden-no-swf {
  display: none !important;
}
html.js .hidden-js {
  display: none !important;
}
html.no-js .hidden-no-js {
  display: none !important;
}
.btn,
.control-label,
.nav > li > a,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  color: inherit;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  vertical-align: middle;
}
.btn,
.panel,
.form-control {
  border-radius: 0;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
legend {
  margin-bottom: 15px;
  color: #d50f18;
  font-size: inherit;
  font-weight: bold;
  border: 0;
}
.text-nowrap {
  white-space: nowrap;
}
.panel-body-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 26px;
  text-transform: none;
}
.panel-body > .nav-side {
  margin-left: -16px;
  margin-right: -16px;
  padding: 15px;
  background-color: #f9f9f9;
}
.panel-body > .nav-side > li + li {
  margin-top: 2px;
}
.panel-body > .nav-side > li > a {
  padding: 2px 5px 2px 13px;
  border-left: 2px solid #e5e5e5;
  text-transform: none;
  font-size: 16px;
  color: inherit;
}
.panel-body > .nav-side > li > a:focus,
.panel-body > .nav-side > li > a:hover {
  color: #d50f18;
  background-color: #eee;
  border-left-color: #d50f18;
}
.panel-body > .nav-side > .active > a {
  color: #d50f18;
  border-left-color: #d50f18;
}
.fileupload {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 0 15px;
  padding: 0 10px 0;
  border: 1px solid #ddd;
  background-color: #fff;
}
.fileupload-buttonbar {
  padding: 10px 8px 9px 0;
  white-space: nowrap;
}
.fileupload-buttonbar .btn {
  margin: 0;
}
.fileupload .table {
  margin-bottom: 0;
  background-color: #eee;
}
.fileupload .table td {
  vertical-align: middle;
}
.fileupload .table .preview {
  display: block;
  height: 40px;
}
.fileupload .table .preview img,
.fileupload .table .preview canvas {
  display: block;
  height: 100%;
  width: auto;
}
.fileupload .table .progress {
  margin: 0;
}
.main-alerts {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 100;
  text-align: center;
  font-size: 16px;
}
.main-alerts .alert {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  opacity: .95;
}
.main-header,
.main-footer {
  background: #000;
  color: #fff;
}
.main-header a,
.main-footer a {
  color: #fff;
}
.main-header a:focus,
.main-footer a:focus,
.main-header a:hover,
.main-footer a:hover {
  color: #b78d33;
}
.main-header .nav > li > a,
.main-footer .nav > li > a {
  color: #fff;
}
.main-header .nav > li > a:focus,
.main-footer .nav > li > a:focus,
.main-header .nav > li > a:hover,
.main-footer .nav > li > a:hover,
.main-header .nav > .active > a,
.main-footer .nav > .active > a {
  color: #b78d33;
}
.main-header .nav > .disabled > a,
.main-footer .nav > .disabled > a,
.main-header .nav > .active > a:focus,
.main-footer .nav > .active > a:focus,
.main-header .nav > .active > a:hover,
.main-footer .nav > .active > a:hover {
  color: #8f6e28;
}
.main-header .control-label,
.main-footer .control-label {
  color: #999;
}
.main-header .form-control,
.main-footer .form-control {
  background-color: #151515;
  border-color: #222;
}
.main-header {
  border-bottom: 3px solid #b78d33;
  /*
	.login {
		display: none;
	}
	*/
}
.main-header .logo {
  display: block;
  padding: 20px 0;
}
.main-header .logo-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.main-header .menu {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 2.5em;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  color: #B78D33;
}
.main-header .menu:after,
.main-header .menu:before {
  content: " ";
  display: table;
}
.main-header .menu .fa {
  float: left;
  font-size: .9em;
  padding: .5em;
  margin-top: -0.2em;
  margin-right: .5em;
  color: #fff;
  background: #B78D33;
  border-radius: 50%;
}
.main-header .menu .fa:before {
  display: block;
  width: 1em;
  height: 1em;
  text-align: center;
}
.main-header .menu small {
  display: block;
  font-size: .5em;
  font-weight: 300;
  color: #fff;
}
.main-header .nav {
  width: 100%;
  margin: 15px 0;
}
.main-header .nav > li {
  float: none;
  display: table-cell;
  width: 1%;
  text-align: center;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.main-header .nav > li + li {
  border-left-color: #333;
}
.main-header .nav > li > a {
  padding: 5px;
}
.main-header .nav > li > a:focus,
.main-header .nav > li > a:hover {
  background-color: transparent;
}
.main-header .box-franquia {
  margin: 0 -15px;
  padding: 10px;
  text-align: center;
  background-color: #d50f18;
}
.main-header .box-franquia a {
  margin-left: 20px;
}
.main-header .box-franquia a:focus,
.main-header .box-franquia a:hover {
  text-decoration: none;
}
.main-header .box-franquia a img {
  display: none;
}
@media (min-width: 992px) {
  .main-header {
    /*
		.logo-img {
			margin: 0;
		}

		.login {
			display: block;
			width: 380px;
			margin: 40px auto;
			white-space: nowrap;
		}

		.login-form .btn {
			padding: 2px 6px;
		}

		.login-form .form-control {
			width: 120px;
			height: @line-height-computed + 4px;
			padding: 4px 8px;
		}
		*/
  }
  .main-header [class*="col-"] {
    height: 150px;
  }
  .main-header .menu {
    margin-top: 35px;
  }
  .main-header .box-franquia {
    position: relative;
    width: 210px;
    height: 100%;
    margin-left: auto;
    padding: 15px 90px 0 30px;
    text-align: left;
  }
  .main-header .box-franquia a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 10px 90px 10px 30px;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .main-header .box-franquia a img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main-header .box-franquia a .fa {
    display: inline-block;
    position: absolute;
    left: 10px;
  }
}
.main-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff6e4 url(../img/pattern-02.png);
}
.main-section + .main-section {
  padding-top: 0;
}
.main-section-header {
  margin: -20px 0 20px 0;
  padding: 15px 0;
  color: #fff;
  background: #2b1204 url(../img/pattern-01.png);
}
.main-section-title,
.main-section-lead {
  margin: 0;
}
.main-section-title {
  line-height: 1;
}
@media (min-width: 992px) {
  .main-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-section-header {
    margin: -30px 0 30px 0;
    padding: 20px 0;
  }
  .main-section-header .container,
  .main-section-header .row,
  .main-section-header [class*="col-"] {
    position: relative;
    height: 50px;
  }
  .main-section-title {
    float: left;
    margin-right: 20px;
    font-size: 44px;
  }
  .main-section-lead {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.main-footer h4 {
  color: #b78d33;
  text-transform: none;
}
.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-footer ul > li > a {
  font-weight: lighter;
}
.main-footer ul > li > a:focus,
.main-footer ul > li > a:hover {
  text-decoration: none;
}
.main-footer .fa {
  color: #b78d33;
}
.main-footer .login .form-group {
  margin-bottom: 5px;
}
.main-footer .login .input-group .btn {
  min-width: 50px;
}
.main-footer .btn-facebook {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 32px;
}
@media (min-width: 992px) {
  .main-footer {
    text-align: left;
  }
}
.banner-a .carousel-inner > .item > a,
.banner-b .carousel-inner > .item > a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-a {
  display: none;
}
@media (min-width: 992px) {
  .banner-a {
    display: block;
    height: 350px;
    background-color: #b78d33;
  }
  .banner-a .carousel,
  .banner-a .carousel-inner,
  .banner-a .carousel-inner > .item {
    height: 100%;
  }
  .banner-a .carousel-inner > .item {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/banner-home-01.jpg);
  }
  .banner-a .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;
    text-align: right;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .banner-a .carousel-caption .container * {
    margin: 0;
  }
  .banner-a .carousel-caption .fa {
    font-size: .7em;
    margin-top: -3px;
    vertical-align: middle;
  }
  .banner-a .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .banner-a .carousel-controls .container {
    position: relative;
    height: 100%;
  }
  .banner-a .carousel-control {
    width: 50px;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
}
.banner-b {
  margin-top: 30px;
}
.banner-b img {
  display: block;
  width: 100%;
  height: 100%;
}
.modal-content {
  border: 0;
  border-radius: 0;
}
.modal-header {
  padding: 15px 30px;
  background: #b78d33;
  border: 0;
  color: #fff;
}
.modal-header .close {
  width: 32px;
  height: 32px;
  margin-top: 6px;
  line-height: 10px;
  color: inherit;
  opacity: .8;
  border: 1px solid #fff;
  border-radius: 50%;
}
.modal-header .close:focus,
.modal-header .close:hover {
  opacity: 1;
}
.modal-title {
  font-size: 28px;
}
.modal-title .fa {
  font-size: 1.2em;
}
.modal-body {
  padding: 25px 30px;
}
.modal-body > *:first-child {
  margin-top: 0;
}
.modal-body > *:last-child,
.modal-body > * > *:last-child {
  margin-bottom: 0;
}
.modal .logo-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.product-category-thumbnail-group .product-category-thumbnail {
  text-decoration: none;
  color: inherit;
}
.product-category-thumbnail-group .product-category-thumbnail-img {
  display: block;
}
.product-category-thumbnail-group .product-category-thumbnail-name {
  margin: 0 0 5px;
  white-space: nowrap;
}
.product-category-thumbnail-group .product-category-thumbnail-description {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .product-category-thumbnail-group .product-category-thumbnail {
    display: block;
    padding: 15px;
    background-color: #fff;
  }
  .product-category-thumbnail-group .product-category-thumbnail:before,
  .product-category-thumbnail-group .product-category-thumbnail:after {
    content: " ";
    display: table;
  }
  .product-category-thumbnail-group .product-category-thumbnail:after {
    clear: both;
  }
  .product-category-thumbnail-group .product-category-thumbnail + .product-category-thumbnail {
    margin-top: 15px;
  }
  .product-category-thumbnail-group .product-category-thumbnail-img {
    float: left;
    width: 120px;
    height: auto;
    margin-right: 15px;
  }
  .product-category-thumbnail-group .product-category-thumbnail-caption {
    height: 100%;
    overflow: hidden;
    background: transparent !important;
  }
}
@media (min-width: 992px) {
  .product-category-thumbnail-group {
    margin-left: -5px;
    margin-right: -5px;
  }
  .product-category-thumbnail-group .product-category-thumbnail-group-inner {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .product-category-thumbnail-group .product-category-thumbnail {
    font-size: 85%;
    text-align: center;
    color: #fff;
  }
  .product-category-thumbnail-group .product-category-thumbnail-inner {
    position: relative;
    margin: 0 7px;
  }
  .product-category-thumbnail-group .product-category-thumbnail {
    display: table-cell;
    width: 1%;
  }
  .product-category-thumbnail-group .product-category-thumbnail-img {
    width: 100%;
    height: auto;
  }
  .product-category-thumbnail-group .product-category-thumbnail-caption {
    position: relative;
    z-index: 1;
    margin-top: -10%;
    padding: 15px 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b78d33;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .product-category-thumbnail-group .product-category-thumbnail-caption {
    height: 190px;
  }
}
@media (min-width: 992px) {
  .product-group,
  .product-category-sidenav,
  .product-thumbnail-group {
    height: 500px !important;
  }
}
.product-category-sidenav {
  position: relative;
  padding: 20px 0;
  background: #2b1204 url(../img/pattern-01.png);
}
.product-category-sidenav .dropdown-toggle {
  display: block;
  margin: -20px 0;
  padding: 16px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #b78d33;
  cursor: pointer;
}
.product-category-sidenav .dropdown-menu {
  width: 100%;
  margin-top: -2px;
  border: 0;
  border-radius: 0;
}
.product-category-sidenav .nav {
  display: none;
}
.product-category-sidenav .nav > li > a,
.product-category-sidenav .nav > li > h4 {
  padding: 0 14px;
  text-transform: none;
}
.product-category-sidenav > .nav > li + li {
  margin-top: 10px;
}
.product-category-sidenav .nav > li > a {
  color: #fff;
}
.product-category-sidenav .nav > li > a:focus,
.product-category-sidenav .nav > li > a:hover {
  color: #b78d33;
  background-color: transparent;
}
.product-category-sidenav .nav > .active > a,
.product-category-sidenav .nav > .active > a:focus,
.product-category-sidenav .nav > .active > a:hover {
  color: #fff;
  background-color: #b78d33;
}
.product-category-sidenav .nav > li > h4 {
  margin: 0 0 5px;
  color: #b78d33;
  font-size: 19px;
}
@media (min-width: 992px) {
  .product-category-sidenav .dropdown-toggle {
    display: none;
  }
  .product-category-sidenav .nav {
    display: block;
  }
}
.product-group {
  position: relative;
  height: 400px;
}
.product-group .carousel {
  background: #b78d33 url(../img/product-group-carousel-bg.jpg) no-repeat center;
  background-size: cover;
}
.product-group .carousel,
.product-group .carousel-inner,
.product-group .carousel-inner > .item {
  height: 100%;
}
.product-group .carousel-inner > .item .block-fluid-group {
  height: 90%;
  overflow: hidden;
}
.product-group .carousel-control .icon-next,
.product-group .carousel-control .icon-prev {
  color: #8f6e28;
  border-color: #8f6e28;
}
.product-group .carousel .product-img {
  display: block;
  width: auto;
  height: 100%;
}
.product-group .carousel-caption {
  display: table;
  position: absolute;
  width: 100%;
  min-height: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  background-color: #b78d33;
  text-align: left;
}
.product-group .carousel-caption > * {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0 20px;
  width: 1%;
}
.product-group .carousel .product-name {
  width: 35%;
  font-size: 160%;
  text-transform: none;
}
.product-group .carousel .product-description {
  width: 65%;
  font-size: 85%;
  border-left: 1px solid #a37e2d;
  border-right: 1px solid #a37e2d;
}
.product-group .carousel-caption .product-sweetness {
  text-align: center;
}
.product-group .carousel .product-sweetness-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.product-group .carousel .product-sweetness-label {
  display: block;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 70%;
  white-space: nowrap;
}
.product-group .product-order-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.product-thumbnail-group {
  display: none;
}
.product-thumbnail-group .carousel {
  background: #2b1204 url(../img/pattern-01.png);
}
.product-thumbnail-group .carousel,
.product-thumbnail-group .carousel-inner,
.product-thumbnail-group .carousel-inner > .item {
  height: 100%;
}
.product-thumbnail-group .carousel-control {
  width: auto;
  left: 0;
  right: 0;
  height: 20px;
  color: #2b1204;
}
.product-thumbnail-group .carousel-control.left {
  top: -20px;
  bottom: auto;
}
.product-thumbnail-group .carousel-control.right {
  top: auto;
  bottom: -20px;
}
.product-thumbnail-group .carousel-control .fa {
  vertical-align: top;
}
.product-thumbnail-group .carousel .product-thumbnail {
  overflow: hidden;
  position: relative;
  height: 25%;
  background: #ccc;
  cursor: pointer;
}
.product-thumbnail-group .carousel .product-thumbnail .block-fluid-group {
  height: 90%;
  overflow: hidden;
}
.product-thumbnail-group .carousel .product-thumbnail-img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 100%;
}
.product-thumbnail-group .carousel .product-thumbnail-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 5px;
  text-align: center;
  color: #fff;
  background: #b78d33;
}
@media (min-width: 992px) {
  .product-thumbnail-group {
    display: block;
  }
}
.unit-group .unit {
  background-color: rgba(237, 222, 191, 0.8);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.unit-group .unit + .unit {
  margin-top: 20px;
}
.unit-group .unit > * {
  height: 100%;
}
.unit-group .unit > * > *:first-child {
  margin-top: 10px;
}
.unit-group .unit > * > *:last-child {
  margin-bottom: 10px;
}
.unit-group .unit:hover,
.unit-group .unit:focus {
  cursor: pointer;
  background-color: #eddebf;
}
.unit-group .unit .unit-name {
  text-transform: none;
  font-size: 32px;
  font-weight: bold;
}
.unit-group .unit .unit-name small {
  display: block;
  font-size: 60%;
}
.unit-group .unit address p {
  margin-bottom: 5px;
}
.unit-group .unit address p:last-child {
  margin-bottom: 0;
}
.unit-group .unit address > p .fa {
  display: none;
}
@media (min-width: 992px) {
  .unit-group .unit {
    height: 140px;
  }
  .unit-group .unit .unit-img {
    height: 100%;
    overflow: hidden;
    margin: 0;
  }
  .unit-group .unit .unit-img img {
    height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .unit-group .unit .unit-name {
    margin: 0;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .unit-group .unit address > p .fa,
  .unit-group .unit address > p span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 32px;
  }
  .unit-group .unit address > p .fa {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #b78d33;
    border-radius: 50%;
    font-size: 18px;
    color: #b78d33;
    text-align: center;
  }
}
.modal .unit-single .unit-img {
  overflow: hidden;
  margin: -25px -30px 0;
  padding: 0 30px;
}
.modal .unit-single .unit-img img {
  width: 115%;
  height: auto;
  max-width: none;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.post-title {
  margin-top: 5px;
  margin-bottom: 15px;
}
.post-title + .post-meta {
  margin-top: -5px;
  margin-bottom: 15px;
}
.post-img {
  margin-bottom: 15px;
}
.post-meta {
  color: #999;
}
.post-publish-date + .post-author {
  margin-left: 10px;
}
.post-img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.post-gallery {
  margin-bottom: 15px;
}
.post-gallery .item {
  display: block;
  overflow: hidden;
  height: 130px;
  background-color: #000;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.post-gallery .item img {
  display: block;
  position: relative;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.post-excerpt,
.post-content {
  margin-bottom: 5px;
}
.post-excerpt > *:first-child,
.post-content > *:first-child,
.post-excerpt > *:first-child > *:first-child,
.post-content > *:first-child > *:first-child {
  margin-top: 0 !important;
}
.post-excerpt > *:last-child,
.post-content > *:last-child,
.post-excerpt > *:last-child > *:last-child,
.post-content > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}
.owl-dots {
  padding: 5px;
  text-align: center;
}
.owl-dots > div {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border: 5px solid;
  border-radius: 50%;
  background-color: #ddd;
  opacity: .2;
}
.owl-dots > div + div {
  margin-left: 5px;
}
.owl-dots > .active {
  border-width: 6px;
  opacity: .5;
}
