@import "bootstrap-variables.less";
@import "bootstrap/mixins.less";
@import "tools.less";

body {
	background-color: #000;
}

html.swf .hidden-swf { display: none !important; }
html.no-swf .hidden-no-swf { display: none !important; }
html.js .hidden-js { display: none !important; }
html.no-js .hidden-no-js { display: none !important; }

.btn,
.control-label, 
.nav > li > a,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	small {
		color: inherit;
		font-family: @font-family-base;
		font-size: @font-size-base;
		line-height: @line-height-computed;
		text-transform: none;
		vertical-align: middle;
	}
}

.btn,
.panel,
.form-control {
	border-radius: 0;
}

.form-control {
	.box-shadow(none);
}

legend {
	margin-bottom: 15px;
	color: @brand-primary;
	font-size: inherit;
	font-weight: bold;
	border: 0;
}

.text-nowrap {
	white-space: nowrap;
}

.panel-body-title {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 26px;
	text-transform: none;
}

.panel-body > .nav-side {
	margin-left: -16px;
	margin-right: -16px;
	padding: 15px;
	background-color: #f9f9f9;
}

.panel-body > .nav-side > li + li {
	margin-top: 2px;
}

.panel-body > .nav-side > li > a {
	padding: 2px 5px 2px 13px;
	border-left: 2px solid #e5e5e5;
	text-transform: none;
	font-size: 16px;
	color: inherit;

	&:focus,
	&:hover {
		color: @brand-primary;
		background-color: #eee;
		border-left-color: @brand-primary;
	}
}

.panel-body > .nav-side > .active > a {
	color: @brand-primary;
	border-left-color: @brand-primary;
}

.fileupload {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 0 15px;
	padding: 0 10px 0;
	border: 1px solid #ddd;
	background-color: #fff;
}

.fileupload-buttonbar {
	padding: 10px 8px 9px 0;
	white-space: nowrap;
}

.fileupload-buttonbar .btn {
	margin: 0;
}

.fileupload .table {
	margin-bottom: 0;
	background-color: #eee;
}

.fileupload .table td {
	vertical-align: middle;
}

.fileupload .table .preview {
	display: block;
	height: 40px;
}

.fileupload .table .preview img,
.fileupload .table .preview canvas {
	display: block;
	height: 100%;
	width: auto;
}

.fileupload .table .progress {
	margin: 0;
}

.main-alerts {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 100;
	text-align: center;
	font-size: 16px;

	.alert {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		opacity: .95;
	}
}

.main-header,
.main-footer {
	background: #000;
	color: #fff;

	a {
		color: #fff;

		&:focus, &:hover {
			color: @brand-secondary;
		}
	}

	.nav > li > a {
		color: #fff;
	}

	.nav > li > a:focus, 
	.nav > li > a:hover,
	.nav > .active > a {
		color: @brand-secondary;
	}

	.nav > .disabled > a,
	.nav > .active > a:focus,	
	.nav > .active > a:hover {
		color: darken(@brand-secondary, 10%);
	}	

	.control-label {
		color: #999;
	}

	.form-control {
		background-color: #151515;
		border-color: #222;
	}
}

.main-header {
	border-bottom: 3px solid @brand-secondary;

	.logo {
		display: block;
		padding: 20px 0;
	}

	.logo-img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	/*
	.login {
		display: none;
	}
	*/

	.menu {
		display: inline-block;
		margin-top: 15px; 
		margin-bottom: 15px;
		padding-right: 2.5em;
		font-size: 24px;
		line-height: 1;
		text-align: left;
		text-transform: none;
		text-decoration: none;
		white-space: nowrap;
		color: #B78D33;
	}
	.menu:after,
	.menu:before {
		content: " ";
		display: table;
	}
	.menu .fa {
		float: left;
		font-size: .9em;
		padding: .5em;
		margin-top: -.2em;
		margin-right: .5em;
		color: #fff;
		background: #B78D33;
		border-radius: 50%;
	}
	.menu .fa:before {
		display: block;
		width: 1em;
		height: 1em;
		text-align: center;
	}
	.menu small {
		display: block;
		font-size: .5em;
		font-weight: 300;
		color: #fff;
	}

	.nav {
		width: 100%;
		margin: 15px 0;
	}

	.nav > li {
		float: none;
		display: table-cell;
		width: 1%;
		text-align: center;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
	}

	.nav > li + li {
		border-left-color: #333;
	}

	.nav > li > a {
		padding: 5px;
	}

	.nav > li > a:focus, 
	.nav > li > a:hover {
		background-color: transparent;
	}

	.box-franquia {
		margin: 0 -15px;
		padding: 10px;
		text-align: center;
		background-color: @brand-primary;
	}

	.box-franquia a {
		margin-left: 20px;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	.box-franquia a img {
		display: none;
	}

	@media (min-width: @screen-md-min) {
		[class*="col-"] {
			height: 150px;
		}

		/*
		.logo-img {
			margin: 0;
		}

		.login {
			display: block;
			width: 380px;
			margin: 40px auto;
			white-space: nowrap;
		}

		.login-form .btn {
			padding: 2px 6px;
		}

		.login-form .form-control {
			width: 120px;
			height: @line-height-computed + 4px;
			padding: 4px 8px;
		}
		*/

		.menu {
			margin-top: 35px; 
		}

		.box-franquia {
			position: relative;
			width: 210px;
			height: 100%;
			margin-left: auto;
			padding: 15px 90px 0 30px;
			text-align: left;
		}

		.box-franquia a {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			padding: 10px 90px 10px 30px;
			color: inherit;
			background-color: rgba(0, 0, 0, .08);
		}

		.box-franquia a img {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.box-franquia a .fa {
			display: inline-block;
			position: absolute;
			left: 10px;
		}
	}
}

.main-section {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff6e4 url(../img/pattern-02.png);

	+ .main-section {
		padding-top: 0;
	}

	&-header {
		margin: -20px 0 20px 0;
		padding: 15px 0;
		color: #fff;
		background: #2b1204 url(../img/pattern-01.png);
	}

	&-title,
	&-lead {
		margin: 0;
	} 

	&-title {
		line-height: 1;
	}

	@media (min-width: @screen-md-min) {
		padding-top: 30px;
		padding-bottom: 30px;		

		&-header {
			margin: -30px 0 30px 0;
			padding: 20px 0;
		}

		&-header .container,
		&-header .row,
		&-header [class*="col-"] {
			position: relative;
			height: 50px;
		}

		&-title {
			float: left;
			margin-right: 20px;
			font-size: 44px;
		} 

		&-lead {
			margin-bottom: 0;
			overflow: hidden;
			.vertical-align-middle();
		}	
	}
}

.main-footer { 
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;

	h4 {
		color: @brand-secondary;
		text-transform: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul > li > a {
		font-weight: lighter;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	.fa {
		color: @brand-secondary;
	}

	.login .form-group {
		margin-bottom: 5px;
	}

	.login .input-group .btn {
		min-width: 50px;
	}

	.btn-facebook {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		font-size: 32px;
	}

	@media (min-width: @screen-md-min) {
		text-align: left;
	}
}

.banner-a .carousel-inner > .item > a,
.banner-b .carousel-inner > .item > a {
	display: block;
	width: 100%;
	height: 100%;
}

.banner-a {
	display: none;

	@media (min-width: @screen-md-min) {
		display: block;
		height: 350px;
		background-color: @brand-secondary;

		.carousel,
		.carousel-inner,
		.carousel-inner > .item {
			height: 100%;
		}

		.carousel-inner > .item {
			height: 350px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-image: url(../img/banner-home-01.jpg);		
		}

		.carousel-caption {
			left: 0;
			right: 0;
			bottom: 0;
			padding: 20px 0;
			text-align: right;
			text-shadow: none;
			background-color: rgba(0, 0, 0, .2);
		}

		.carousel-caption .container * {
			margin: 0;
		}

		.carousel-caption .fa {
			font-size: .7em;
			margin-top: -3px;
			vertical-align: middle;
		}

		.carousel-controls {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.carousel-controls .container {
			position: relative;
			height: 100%;
		}

		.carousel-control {
			width: 50px;
			background: transparent;
			.reset-filter();
		}
	}
}

.banner-b {
	margin-top: 30px;

	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.modal {
	&-content {
		border: 0;
		border-radius: 0;
	}

	&-header {
		padding: 15px 30px;
		background: @brand-secondary;
		border: 0;
		color: #fff;

		.close {
			width: 32px;
			height: 32px;
			margin-top: 6px;
			line-height: 10px;
			color: inherit;
			opacity: .8;
			border: 1px solid #fff;
			border-radius: 50%;

			&:focus,
			&:hover {
				opacity: 1;
			}
		}
	}

	&-title {
		font-size: 28px;
	}

	&-title .fa {
		font-size: 1.2em;
	}

	&-body {
		padding: 25px 30px;
	}

	&-body > *:first-child {
		margin-top: 0;
	}

	&-body > *:last-child,
	&-body > * > *:last-child {
		margin-bottom: 0;
	}

	.logo-icon {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}
	

.product-category-thumbnail-group {
	.product-category-thumbnail {
		text-decoration: none;
		color: inherit;
	}

	.product-category-thumbnail-img {
		display: block;
	}

	.product-category-thumbnail-name {
		margin: 0 0 5px;
		white-space: nowrap;
	}

	.product-category-thumbnail-description {
		margin-bottom: 0;
	}

	@media (max-width: @screen-sm-max) {
		.product-category-thumbnail {
			display: block;
			padding: 15px;
			background-color: #fff;
			.clearfix();
		}

		.product-category-thumbnail + .product-category-thumbnail {
			margin-top: 15px;
		}

		.product-category-thumbnail-img {
			float: left;
			width: 120px;
			height: auto;
			margin-right: 15px;
		}

		.product-category-thumbnail-caption {
			height: 100%;
			overflow: hidden;
			background: transparent !important;
		}
	}

	@media (min-width: @screen-md-min) {
		margin-left: -5px;
		margin-right: -5px;

		.product-category-thumbnail-group-inner {
			position: relative;
			display: table;
			table-layout: fixed;
			width: 100%;		
		}

		.product-category-thumbnail {
			font-size: 85%;
			text-align: center;
			color: #fff;
		}

		.product-category-thumbnail-inner {
			position: relative;
			margin: 0 7px;
		}

		.product-category-thumbnail {
			display: table-cell;
			width: 1%;
		}	

		.product-category-thumbnail-img {
			width: 100%;
			height: auto;
		}

		.product-category-thumbnail-caption {
			position: relative;
			z-index: 1;
			margin-top: -10%;
			padding: 15px 10px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: @brand-secondary;
		}		
	}

	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		.product-category-thumbnail-caption {
			height: 190px;
		}	
	}
}

.product-group,
.product-category-sidenav,
.product-thumbnail-group {
	@media (min-width: @screen-md-min) {
		height: 500px !important;
	}
}

.product-category-sidenav {
	position: relative;
	padding: 20px 0;
	background: #2b1204 url(../img/pattern-01.png); 

	.dropdown-toggle {
		display: block;
		margin: -20px 0;
		padding: 16px;
		font-size: 18px;
		line-height: 1;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		background-color: @brand-secondary;
		cursor: pointer;
	}

	.dropdown-menu {
		width: 100%;
		margin-top: -2px;
		border: 0;
		border-radius: 0;
	}

	.nav {
		display: none;
	}

	.nav > li > a,
	.nav > li > h4 {
		padding: 0 14px;
		text-transform: none;
	}

	> .nav > li + li {
		margin-top: 10px;
	}

	.nav > li > a {
		color: #fff;

		&:focus, 
		&:hover {
			color: @brand-secondary;
			background-color: transparent;
		}
	}

	.nav > .active > a,
	.nav > .active > a:focus,
	.nav > .active > a:hover {
		color: #fff;
		background-color: @brand-secondary;
	} 

	.nav > li > h4 {
		margin: 0 0 5px;
		color: @brand-secondary;
		font-size: 19px;
	}

	@media (min-width: @screen-md-min) {
		.dropdown-toggle {
			display: none;
		}

		.nav {
			display: block;
		}
	}
}

.product-group {
	position: relative;
	height: 400px;

	.carousel {
		background: @brand-secondary url(../img/product-group-carousel-bg.jpg) no-repeat center;
		background-size: cover;
	}

	.carousel,
	.carousel-inner,
	.carousel-inner > .item {
		height: 100%;
	}

	.carousel-inner > .item .block-fluid-group {
		height: 90%;
		overflow: hidden;
	}

	.carousel-control .icon-next,
	.carousel-control .icon-prev {
		color: darken(@brand-secondary, 10%);
		border-color: darken(@brand-secondary, 10%);
	}

	.carousel .product-img {
		display: block;
		width: auto;
		height: 100%;		
	}

	.carousel-caption {
		display: table;
		position: absolute;
		width: 100%;
		min-height: 90px;
		right: 0; bottom: 0; left: 0; 
		padding: 10px 0;
		background-color: @brand-secondary;
		text-align: left;
	}

	.carousel-caption > * {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 0 20px;
		width: 1%;
	}

	.carousel .product-name {
		width: 35%;
		font-size: 160%;
		text-transform: none;
	}

	.carousel .product-description {
		width: 65%;
		font-size: 85%;
		border-left: 1px solid darken(@brand-secondary, 5%);
		border-right: 1px solid darken(@brand-secondary, 5%);
	}

	.carousel-caption .product-sweetness {
		text-align: center;
	}

	.carousel .product-sweetness-img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.carousel .product-sweetness-label {
		display: block;
		margin-top: 5px;
		text-transform: uppercase;
		font-size: 70%;
		white-space: nowrap;
	} 

	.product-order-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
	}
}

.product-thumbnail-group {
	display: none;

	.carousel {
		background: #2b1204 url(../img/pattern-01.png); 
	}

	.carousel,
	.carousel-inner,
	.carousel-inner > .item {
		height: 100%;
	} 

	.carousel-control {
		width: auto;
		left: 0;
		right: 0;
		height: 20px;
		color: #2b1204;

		&.left {
			top: -20px;
			bottom: auto;
		}

		&.right {
			top: auto;
			bottom: -20px;
		}

		.fa {
			vertical-align: top;
		}
	}
 
	.carousel .product-thumbnail {
		overflow: hidden;
		position: relative;
		height: 25%;
		background: #ccc;
		cursor: pointer;
	}
	
	.carousel .product-thumbnail .block-fluid-group {
		height: 90%;
		overflow: hidden;
	}	

	.carousel .product-thumbnail-img {
		display: block;
		margin: 0 auto;
		width: auto;
		height: 100%;
	}

	.carousel .product-thumbnail-title {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin-bottom: 0;
		padding: 5px;
		text-align: center;
		color: #fff;
		background: @brand-secondary;
	} 

	@media (min-width: @screen-md-min) {
		display: block;
	}
}


.unit-group {
	.unit {
		@tmp: lighten(@brand-secondary, 38%);
		background-color: rgba(red(@tmp), green(@tmp), blue(@tmp), 0.8);
		.transition(background-color .5s);

		+ .unit {
			margin-top: 20px;
		}

		> * {
			height: 100%;
		}

		> * > *:first-child {
			margin-top: 10px;
		}

		> * > *:last-child {
			margin-bottom: 10px;
		}

		&:hover, 
		&:focus {
			cursor: pointer;
			background-color: @tmp;
		}

		.unit-name {
			text-transform: none;
			font-size: 32px;
			font-weight: bold;
		}

		.unit-name small {
			display: block;
			font-size: 60%;
		}

		address p {
			margin-bottom: 5px;
		}

		address p:last-child {
			margin-bottom: 0;
		}

		address	> p .fa {
			display: none;	
		}
	}

	@media (min-width: @screen-md-min) {
		.unit {
			height: 140px;

			.unit-img {
				height: 100%;
				overflow: hidden;
				margin: 0;
			}

			.unit-img img {
				height: 100%;
				width: auto;
				.horizontal-align-middle();			
			}

			.unit-name {
				margin: 0;
				font-size: 40px;
				text-align: center;
				.vertical-align-middle();
			}

			address	> p .fa,
			address	> p span {
				display: inline-block;
				vertical-align: middle;	
				margin: 0;
				line-height: 32px;		
			}

			address > p .fa  {
				width: 32px;
				height: 32px;
				margin-right: 10px;
				border: 1px solid @brand-secondary;
				border-radius: 50%;
				font-size: 18px;
				color: @brand-secondary;
				text-align: center;
			}	
		}
	}
}

.modal .unit-single {
	.unit-img {
		overflow: hidden;
		margin: -25px -30px 0;
		padding: 0 30px;		
	}

	.unit-img img {
		width: 115%;
		height: auto;
		max-width: none;		
		.horizontal-align-middle();
	}
}

.post-title {
	margin-top: 5px;
	margin-bottom: 15px;
}

.post-title + .post-meta {
	margin-top: -5px;
	margin-bottom: 15px;
}

.post-img {
	margin-bottom: 15px;
}

.post-meta {
	color: #999;
}

.post-publish-date + .post-author {
	margin-left: 10px;
}

.post-img img {
	display: block;
	max-width: 100%;
	height: auto;
}

.post-gallery {
	margin-bottom: 15px;
}

.post-gallery .item {
	display: block;
	overflow: hidden;
	height: 130px;
	background-color: #000;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.post-gallery .item img {
	display: block;
	position: relative;
	top: 50%;
	height: auto;
	width: 100%;
	.translate(0, -50%);
}

.post-excerpt,
.post-content {
	margin-bottom: 5px;

	> *:first-child,
	> *:first-child > *:first-child {
		margin-top: 0 !important;
	}

	> *:last-child,
	> *:last-child > *:last-child {
		margin-bottom: 0 !important;
	}
}

.owl-dots {
	padding: 5px;
	text-align: center;
} 

.owl-dots > div {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border: 5px solid;
	border-radius: 50%;
	background-color: #ddd;
	opacity: .2;
}

.owl-dots > div + div {
	margin-left: 5px;
}

.owl-dots > .active {
	border-width: 6px;
	opacity: .5;
}