.block-fluid-group {
	position: relative;

	.block-fluid {
		position: absolute;
	}
}

.block-fluid {
	display: block;
	position: relative;
}

.vertical-align-middle {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.horizontal-align-middle {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.block-fluid-inline {
	display: inline-block;
}

.block-fluid-center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

/*
.block-fluid.top {
	top: 0;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
} 

.block-fluid.left {
	left: 0;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
} 
*/

.block-fluid-middle {
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.block-fluid-bottom {
	top: 100%;
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
} 

.block-fluid-right {
	left: 100%;
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
}

.block-fluid-top-center {
	-webkit-transform: translate(-50%,0);
	    -ms-transform: translate(-50%,0);
	        transform: translate(-50%,0);
}

.block-fluid-middle-left {
	-webkit-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	        transform: translate(0,-50%);
}

.block-fluid-middle-center {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.block-fluid-middle-right {
	-webkit-transform: translate(-100%,-50%);
	    -ms-transform: translate(-100%,-50%);
	        transform: translate(-100%,-50%);
}

.block-fluid-bottom-center {
	-webkit-transform: translate(-50%,-100%);
	    -ms-transform: translate(-50%,-100%);
	        transform: translate(-50%,-100%);
}

.block-fluid-bottom-right {
	-webkit-transform: translate(-100%,-100%);
	    -ms-transform: translate(-100%,-100%);
	        transform: translate(-100%,-100%);
}